* {
    margin: 0;
    padding: 0;
}

.player {
    margin: 0;
    background-image: url('../img/batu.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 36%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.comp {
    margin: 0;
    background-image: url('../img/batu.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 50%;
    left: 64%;
    transform: translate(-50%, -50%);
    transform: scaleX(-1);
}

.no-mirror{
    transform: rotateY(180deg);
}

ul {
    list-style: none;
    margin: 20px;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 0 20px;
}

.center {
    position: absolute;
    bottom: 5%;
    transform: translateX(50%);
    margin-left: 34%;
}

.btn {
    padding: 20px 20px;
    border: none;
    background-color: #db2b39;
    color: #fafafa;
    cursor: pointer;
}

.card {
    padding: 20px 20px;
    width: 100px;
    height: 100px;
    background-color: #fafafa;
    border: 1px solid #191919;
    cursor: pointer;
}

.rock {
    background-image: url('../img/batu.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.scissor {
    background-image: url('../img/gunting.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.paper {
    background-image: url('../img/kertas.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom-navbar {
    overflow: hidden;
    position: fixed;
    bottom: 10px;
    width: 50%;
    transform: translateX(50%);
    padding: 20px 20px;
    height: 30vh;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}